<!-- Footer -->
    <footer class="page-footer font-small blockquote-footer">

        <!-- Copyright -->
        
        <div class="footer-copyright text-center py-3">
            Copyright © 2019 :
            <p>KitchenNiuvo - All Rights Reserved.</p>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
