<style>
    .column-in-center{
    float: none;
    margin: 0 auto;
}
</style>

<!-- Footer -->
<div class="row">
    <div class="column-in-center">
        <footer class="page-footer font-small blockquote-footer">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">Copyright © 2019 :
                <p class="text-center">KitchenNiuvo - All Rights Reserved.</p>
            </div>
            <!-- Copyright -->

        </footer>
    </div>
    <!-- Footer -->
</div>