<!--View for adding of food-->
<link rel="stylesheet" href="/css/addfood.css">
<div class="card shadow-sm p-3 mb-5 bg-white rounded" style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <i class="fa fa-arrow-left fa-2x" style="padding-top: 10px; padding-left:10px;" aria-hidden="true"
                onclick="window.location.href='/fridge/listfridge'"></i>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h3 style="text-align:center; padding-top:6px;">Choose your food item</h3>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
    <div class="card-body">
        <input
            style="background-image: url(/img/searchicon.png);background-position: 10px 12px;background-repeat: no-repeat;height:100%;width: 100%;font-size: 16px;padding: 12px 20px 12px 40px;border: 1px solid #ddd;margin-bottom: 12px;"
            type="text" id="myInput" onkeyup="searchFood()" placeholder="Search for food..">
        <ul id="myUL" style="list-style-type: none;">
            <li><button data-toggle="modal" data-target="#myModal"><img src="/img/add2.png"
                        style="width: 28px;margin-right: 8px; display:inline-block; margin-bottom:4px; !important">Add
                    Your Own Item</button></li>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 style="padding-left:0px;" class="modal-title ">Add a food item</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/fridge/addfood" method="post" style="display: block;">
                                <div class="form-group">
                                    <label>Food Item</label>
                                    <input type="name" name="fooditem" id="fooditem" tabindex="1" class="form-control"
                                        placeholder="Food Name" required>
                                    <br>
                                    <label>Food Price</label>
                                    <input type="name" name="foodPrice" id="foodprice" tabindex="2" class="form-control"
                                        placeholder="Food Price">

                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div>
                    </div>

                </div>
            </div>

            {{#each fooddatabase}}
            <li><button data-toggle="modal" data-target="#myModal2" id="modalbtn"
                    value="{{fooditem}}">{{fooditem}}</button></li>
            {{/each}}
            <!-- Modal -->
            <div id="myModal2" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 style="padding-left:0px;" class="modal-title" id="modaltitle">Add a food item</h4>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Expiry Date</label>
                                        <input id="datepicker" name="expirydate" id="expirydate" tabindex="1"
                                            readonly />
                                    </div>
                                    <div class="form-group">
                                        <label>Quantity</label>
                                        <input type="number" min="1" max="50" name="quantity" id="quantity"
                                            class="form-control" tabindex="2">
                                    </div>
                                </div>
                                <button class="btn btn-primary" name="food" id="food" type="submit"
                                    value="">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div>
                    </div>

                </div>
            </div>
        </ul>
    </div>
</div>

<script>
    // search function
    function searchFood() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("button")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    $('#datepicker').datepicker({
        value: new Date().toLocaleDateString('en-GB'),
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4',
    });
    $('body').on('click', '#modalbtn', function () {
        var elem = this.value;
        $('#food').val(elem);
        $('#modaltitle').text(elem)
    });
</script>