<link rel="stylesheet" href="/css/category.css">
<div class="card" style="margin-top: 30px">

    <h3 style="display:inline-block; padding-left:16px; padding-top:10px;">Select a category</h3>

    
    <div class="card-body">
        <ul id="myUL2">
        
        {{#each foodcategory}}
        <li><div class="card-text"><img src="/img/add.png"><h5 class="cate"><input id="{{foodcategory}}" onblur="emptyfield(this)" placeholder= "{{foodcategory}}" value="{{foodcategory}}"></input></h5><button onclick="window.location.href='/fridge/editcategory/delete/{{id}}'" name="delfood" class="btn btn-danger btn-sm" style="float: right;"><strong>X</strong></button></div></li>
        {{/each}}
        <form action="" method="post">
        <li><div class="card-text"><img src="/img/add.png"><h5 class="cate"><input id="addcategory" name="addcategory"  placeholder="Add a category"></input></h5></div></li>

        </ul>
    </div>

</div >
<div style="text-align:center; padding-top:15px;"><a class="btn btn-danger" href="/fridge/addcategory" style="color: white; margin-right:50px;">Cancel</a><button type="submit" class="btn btn-info" style="color: white">Submit</button></div>
</form>
<script>
    function emptyfield(ele){
    var foodid = ele.getAttribute('id');
    var foodfield = document.getElementById(foodid).value;
    if (foodfield === ""){
        document.getElementById(foodid).value = document.getElementById(foodid).placeholder
    }
}
</script>