<div class="col-md-6 mx-auto" style="padding-top: 20px">
		<div class="card card-body">
			<div class="panel-heading">
				<div class="row">
					<div class="col" style="text-align: center">
						<a id="login-form-link">Login</a>
					</div>
					<div class="col" style="text-align: center">
						<a href="/user/register" action="" class="" id="register-form-link">Register</a>
					</div>
				</div>
				<hr>
			</div>
			<img class="logo" src="/img/logo.png">
			<h3 class="text-center" style="padding-bottom:10px">Account Login</h3>
			<div class="panel-body">
				<div class="row">
					<div class="col">
						<form id="login-form" action="/user/login" method="post" style="display: block;">
							<div class="form-group">
								<input type="email" name="email" id="email" tabindex="1" class="form-control"
									placeholder="Email" required>
							</div>
							<div class="form-group">
								<input type="password" name="password" id="password" tabindex="2" class="form-control"
									placeholder="Password" required>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

